@media screen and (max-width: 989px) {
	
}

@media all and (max-width: 1197px){
	#wrapper {
	width:100%;
	}
	.top-head {
    width: 100%;
	}
	#header {
    width: 100%;
	}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
	}
	#footage .col-sm-4:nth-child(2) {
    width: 27%;
	}
	#footage .col-sm-4:nth-child(3) {
    width: 38%;
	}
	#footage .col-sm-4:nth-child(3) .col-sm-6{
    width: 45%;
	}
	#footage .col-sm-4:nth-child(3) .col-sm-6:last-child{
    width: 55%;
	}
	#logo {
    left: 10px;
	}	
	#logo-footer {
	position: absolute;
	left: 10px;
	}
	.xu-container{
	padding:15px;
	}
	.top-menu ul li:last-child {
    padding-right: 5px;
	}
	.xu-aform .form-horizontal .form-group .control-label.col-sm-4{
	padding-right: 0px;
	font-size:14px;
	}
	.xu-lgin .control-label.col-sm-4, .xu-lgin  .checkbox  label{
	font-size:15px;
	padding-right: 0px;
	}
	.xu-lgin-page .xu-container .xu-content{
	padding:0px;
	}
	.xu-wform select.form-control{
	width:100%;
	}
	.xu-indx{
	padding:0px 15px;
	}
	#our-product .col-sm-4:hover {
    background: transparent;
	}
	/*#xu-products .owl-product .owl-item{
	margin-left:-1px;
	}
	#xu-products .owl-product .owl-item.active{
	margin-left:0px;
	}*/
}

@media all and (max-width: 992px) {
	#footage .col-sm-4 {
    width: 50%;
	text-align: center;
	}
	#footage .col-sm-4:nth-child(2) {
    text-align: center;
    width: 50%;
    height: 160px;
	}
	#footage .col-sm-4:nth-child(3) {
	float: none;
    margin: 0px auto;
    width: 365px;
	overflow: hidden;
	}
	.xu-3{
	width:100%;
	}
	.xu-9{
	width:100%;
	}
	.xu-acc .col-sm-3{
	width:100%;	
	margin-bottom:20px;
	}
	.xu-acc .col-sm-9{
	width:100%;	
	}
	#xu-products .xu-imgthumbs {
    height: 262px;
	}
	.xu-warra .form-horizontal .col-sm-6 .control-label {
    width:100%;
	}
	.xu-warra .form-horizontal .form-group .xu-sm-8 {
    width:100%;
	}
	.xu-acdails .form-group .control-label.col-sm-4 {
    padding-right:0px;
	font-size: 15px;
	}
	.xu-content .table tfoot td:last-child {
    width: 150px;
	padding-right:10px;
	}
	.fsort{
	display:none;
	}
	.head-product .xu-pro-details .col-sm-6{
	width:100%;
	text-align: left;
	}
	.head-product .xu-pro-details .col-sm-6 .xu-btn-right {
    float: left;
	}
}
@media all and (max-width: 812px) {
	#xu-sub, .modal-backdrop{
	display:none !important;
	}
	.modal-open {
    overflow: auto;
	padding-right:0px;
	}
}
	
@media all and (max-width: 767px) {
	.nav {
    float: none;
    width: 100%;
	}
	.nav li {
    margin: 0px -2px 0px -1px;
    list-style: none;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    height: 40px;
	width:100%;
	text-align:left;
	}
	.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
	}
	.nav li.dropdown{
	height:auto;
	}
	.navbar-default .navbar-nav li.dropdown:hover>.dropdown-menu >li.dropdown a {
    color: #fff;
	}
	.navbar-default .navbar-nav li.dropdown:hover>.dropdown-menu >li a {
    color: #fff;
	padding: 7px 10px 7px 15px;
	}
	.navbar-default .navbar-nav li.dropdown:hover> a {
    padding-bottom:5px;
	}
	.navbar-nav>li>.dropdown-menu li:first-child{
	border-top: 1px solid #ddd;
	}
	.navbar-nav>li>.dropdown-menu li:last-child{
	border-bottom: 1px solid #ddd;
	}
	.navbar-default .navbar-nav>li.dropdown .dropdown-menu  .dropdown-menu{
	float: left;
    left: 0px;
    position: initial;
    width: 100%;
    margin-left: 0px;
	border:0px;
	/*display:block;*/
	}
	.navbar-default .navbar-nav>li.dropdown .dropdown-menu li.dropdown .dropdown-menu{
	/*display:block;*/
	position: initial;
	}
	.navbar-default .navbar-nav li.dropdown>.dropdown-menu >li.dropdown>.dropdown-menu li a {
    color: #fff;
	padding-left: 30px;
	}
	.navbar-nav>li>.dropdown-menu {
	position:static;
	}
	.navbar-default .navbar-nav li.dropdown:hover>.dropdown-menu {
    border: 0px;
    background-color: transparent;
    width: 100%;
    display: block;
	}
	.navbar-default .navbar-nav > li.dropdown > .dropdown-menu > li.dropdown:hover > a {
    background-color: transparent;
	}
	.navbar-default .navbar-nav > li.dropdown > .dropdown-menu > li.dropdown:hover > a:after {
    content: '';
	}
	#logo {
    position: relative;
	left:0px;
	}
	#logo-footer {
    position: initial;
    left: 10px;
    padding-bottom: 10px;
	}
	#copyright {
    padding: 15px 10px 35px 10px;
	}
	.xu-crow .col-sm-4 {
    width: 33.33333333%;
	float: left;
	}
	.xu-crow .col-sm-8 {
    width: 66.66666667%;
	float: left;
	}
	.xu-acc-row .col-sm-6{
	width: 100%;
	}
	.xu-content .xu-table .table td{
    display:block;
	padding-top: 10px;
	border-bottom: 0px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: normal;
	}
	.xu-content .xu-table .table td:first-child {
    border: 0px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	}
	.xu-content .xu-table .table td:last-child {
    border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	}
	.xu-content .xu-table .table-responsive {
    border: 0px solid #ddd;
	}
	.xu-content .xu-table .table tfoot td{
    height: 46px;
    float: left;
    width: 45%;
    border-bottom: 1px solid #ddd !important;
    border-left: 0px solid #ddd !important;
	}
	.xu-content .xu-table .table tfoot td:first-child{
    height: 46px;
    float: left;
    width: 55%;
    border-bottom: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
	padding: 8px 5px;
	}
	.xu-content .xu-table .table tfoot td:first-child h3{
    font-size:18px;
	}
	.xu-prodetail{
	width:100%;
	}
	.xu-pro-details{
	width:100%;
	}
	.xu-nav-tabs li {
    margin: 0px -2px 0px -1px;
    list-style: none;
    display: table-cell;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    height: 42px;
	width:auto;
	}
	.xu-nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
	margin-right: 0px;
	}
	.xu-nav-tabs {
    float: left;
    border: 1px solid #ddd;
	width:auto;
	}
	.xu-wtb .col-xs-6.col-sm-4{
	width:100%;
	}
	.col-xs-6 .col-sm-6.fsort_right .form-control {
    display: block;
    width: auto;
	}
	#sort-value {
    display: inline-block;
	}
	.navbar-default .navbar-nav li.dropdown > .dropdown-menu > li.dropdown >.dropdown-menu {
	margin-top:0px;
	}
	.navbar-default .navbar-nav li.dropdown > .dropdown-menu > li.dropdown >.dropdown-menu > li > a:hover{
	background:transparent;
	}
	.navbar-default .navbar-nav li.dropdown > .dropdown-menu > li.dropdown >.dropdown-menu > li.dropdown:first-child{
	border-top:0px;
	}
}

@media all and (max-width: 690px){
	.xu-wform .form-horizontal > .col-sm-6{
	width:100%;
	}
	.xu-wform .form-horizontal > .col-sm-6:last-child {
    border-left:0px;
	}
	.xu-lgin{
	margin-left:-15px;
	margin-right:-15px;
	}
	#our-product .col-sm-4 {
        width: 100%;
	}
	#xu-products .xu-imgthumbs {
    float: left;
    width: 100%;
    height: 260px;
    border-bottom: 1px solid #ececec;
	}
	.top-bread .col-sm-7{
	width:100%;
	}
	.top-bread .col-sm-5{
	width:100%;
	}
	.top-bread .col-sm-5 .fsort_right{
	text-align: left;
	width:100%;
	}
}
@media all and (max-width: 600px){
	#footage .col-sm-4 {
    width: 100%;
	text-align: center;
	}
	#footage .col-sm-4:nth-child(2) {
    text-align: center;
    width: 100%;
    height: auto;
	}
	#footage .col-sm-4:nth-child(3) {
	float: none;
    margin: 0px auto;
    width: 365px;
	}
	#footage ul.cate li {
    padding-bottom: 8px;
    float: left;
    width: 100%;
	}
	.xu-video .carousel {
    margin-top: 10px;
	}
	.xu-video .carousel-inner {
    margin-left: 0px;
    margin-right: 0px;
	}
	.xu-video .item .pro-thumb {
    height: auto;
	}
	.xu-9 .list-pro{
	width: 100%;	
	}
	#accessories .table-bordered{
	border:0px;
	}
	#accessories .table-bordered td{
	display:block;
	}
	#accessories .table-bordered td:first-child{
	text-align: center;	
	border-bottom:0px;
	}
	#accessories .table-bordered td:last-child{
	margin-bottom:20px;
	}
}

@media all and (max-width: 479px){
	#head-logo img {
    width: 100%;
    max-width: 290px;
	}
	#xu-products .xu-imgthumbs {
    height: auto;
	}
	.xu-acdails .col-sm-6{
	width:100%;
	}
	
	.xu-acdails .col-sm-6 .col-sm-8{
	width:100%;
	}
	.xu-prodetail #carousel {
	height:380px;
	}
}

@media all and (max-width: 441px){
	.xu-table .break-word{
	width: 100%;
	text-align: center;
	}
	.xu-table .break-word .xu-btn{
	display: inherit;
	margin:0px auto 10px auto;
	}
}

@media all and (max-width: 425px){
	#head-logo img {
    width: 100%;
    max-width: 250px;
	top: 0px;
	}
	#logo {
	top: 0px;
	}
	.xu-gallery .col-xs-6 {
    width: 100%;
	}
	.xu-nav-tabs>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 14px;
	}
}

@media all and (max-width: 368px){
	#footage .col-sm-4:nth-child(3) {
    float: none;
    margin: 0px auto;
    width: 100%;
	}
	#footage .col-sm-4:nth-child(3) .col-sm-6 {
    width: 100%;
	padding-bottom:20px;
	}
	#footage .col-sm-4:nth-child(3) .col-sm-6:last-child {
    width: 100%;
	}
	#social{
	margin: 0px auto;
    overflow: hidden;
    width: 170px;
    text-align: center;
	}
	#social li {
    float: left;
    width: 44px;
    text-align: center;
    padding: 6px 6px;
	}
	.top-menu ul li a {
    font-size: 13px;
    color: #fff;
    padding: 0px 6px;
    border-left: 1px solid #fff;
	}
	.top-menu ul li:last-child{
    display:none;
	}
	#logo {
	top: 20px;
	}
	.xu-prodetail #carousel {
	height:280px;
	}
}

@media all and (max-width: 375px){
	.xu-wform .form-horizontal .col-sm-6 .col-sm-8 .checkbox{
	font-size: 15px;
	}
	.xu-crow .col-sm-4 {
    width: 100%;
	float: left;
	}
	.xu-crow .col-sm-8 {
    width: 100%;
	float: left;
	}
}
